PORT=5000
DB_URL=mongodb+srv://DB_UserName:DB_PASS@cluster0.iepmiic.mongodb.net/DB_Name?appName=Cluster0
NODE_ENV=development

# jwt
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

# bcrypt
BCRYPT_SALT_ROUND=

# super_admin
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=